@mixin set-style($bg, $color) {
  background-color: $bg;
  color: $color;
}

:host {
  display: block;
  width: 100%;

  .wrapper {
    button {

      &.teal {
        @include set-style(var(--bs-teal), var(--bs-white));
        font-size: 1.2rem;
        font-weight: 600;
      }

      &:disabled {
        pointer-events: none;
        opacity: .6;
      }
    }
  }
}
